body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #aaa;
}

.doorContainer {
    display: inline-block;
    padding: 30px 45px;
}

.doorBackground {
    background-color: transparent;
    border-radius: 20px;
}

#doors {
    /*TODO: Get alignment working*/
    padding: 5%;
}

.door {
    background-color: rgba(136, 136, 136, 30%);
    border: 1px solid #888;
    border-radius: 15px;

    width: 100px;
    height: 100px;
    line-height: 50px;  /*Vertical centering*/
    
    transform-origin: left;
    transition: all 1s ease-in-out;
}

.door p {
    color: #fff;
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 25px;
    text-align: center;
}

.doorOpen {
  transform: perspective(1000px) rotateY(-140deg);
}

canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
  }